* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  font-size: 16px;
  font-family: 'Roboto', sans-serif;
  color: #1e293b;
  background-color: #f1f5f9;
}

body {
  padding: 2rem;
}

.container, .start-game-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}

.players {
  display: flex;
  align-items: center;
  gap: 1rem;

  > input {
    padding: 1rem 1.5rem;
    border: 1px solid #1e293b;
    border-radius: 5px;
    font-size: 1.5rem;
    font-weight: 600;
    text-align: center;
  }
}

button {
  padding: 1rem 1.5rem;
  color: #e2e8f0;
  background-color: #1e293b;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 1rem;
  font-weight: 600;
}

#gameBoardContainer {
  display: none;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}

#board {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  border: 1px solid #1e293b;
}

.cell {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 6rem;
  height: 6rem;
  color: #1e293b;
  background-color: #e2e8f0;
  font-size: 2rem;
  font-weight: 600;
  border: 1px solid #1e293b;
  cursor: pointer;
}

#gameOverContainer {
  display: none;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}